/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--background-color:#FAFAF6;
  --headerAndBox-color:#FFFFFF;
  --generalFont-color:#4D3927;
  --buttonAndFont-color:#B81134;
  --border-color:#EDE5D5;
	--outline-color:#920E29;
	--shadow-color:rgba(0, 0, 0, 0.6);
	--date-color:#A69E96;
}

/* De fonts voor mijn website */

@font-face {
  font-family: "RobotaFontReg";
  src: url(../fonts/RobotoSlab-Medium.ttf);
}

@font-face {
	font-family: "RobotaFontP";
	src: url(../fonts/RobotoSlab-VariableFont_wght.ttf);
}

@font-face {
	font-family: "heroFont";
	src: url(../fonts/Verner.ttf);
}

@font-face {
	font-family: "generalFont";
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "generalFontBold";
	src: url(../fonts/OpenSans-Bold.ttf);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
 /* Bron: https://www.a11yproject.com/posts/how-to-hide-content/ */

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
/* Algemene stijlen */
html.open {
	overflow: hidden;
}

body {
  margin:0;

  background-color:var(--background-color);
  color:var(--generalFont-color);
}



/* styling voor de header */
body > header {
	display:flex;
	align-items: center;

  max-height:4em;
	padding: 1em;

  background-color:var(--headerAndBox-color);

	font-family: "RobotaFontReg";	
}

/* styling menu button in de header en nav */
body > header button {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	gap: 1em;

	background-color: var(--headerAndBox-color);	
	border: none;
}

/* maat van de iconen in de header */
body > header img {
	max-height: 1em;
}

/* styling voor het menu */
header nav {
	position: fixed;
	z-index: 500;
  inset:0;

	display:grid;
  align-content:start;
	overflow: scroll;

	padding:1em;
  gap:1em;

	background-color:var(--headerAndBox-color);

	translate:-100% 0;
  transition: 1s; 
}

/* padding weghalen op de nav */
header nav {
	padding: 0em;
}

/* padding weghalen op het lijstje in de nav */
header nav ul {
	padding: 0em;
}

/* list items individueel een padding geven zodat de border bottom helemaal van links naar rechts loopt */
 /* De lijntjes onder de list items in het menu */
header nav ul > li {
	padding-left: 1em;

	border-bottom: solid 2px var(--border-color);
}


/* Het lijntje boven de eerste list iten in het menu */
header nav li:first-of-type {
	border-top: solid 1px var(--border-color);
}

/* styling voor de linkjes in het menu */
header nav a {
	display:inline-block;

	border-radius: 0.2em;

	font-size:1.2em;
	font-family: "RobotaFontReg";
	color: var(--buttonAndFont-color);
	text-decoration: none;
}

/* Het menu in beeld verplaatsen als hij open in */
header nav.open {
  translate: 0 0; 
}


/* Styling voor het eerste linkje in de nav  */
header nav > a:first-of-type {
	justify-self: center;

	padding: 0.4em 1.5em;
	max-width: max-content;

	background-color: var(--buttonAndFont-color);
	outline: var(--outline-color);
	outline-width: 1px;
	outline-style: solid;
	outline-offset: -.3em;

	font-family: "RobotaFontReg";
	color: var(--headerAndBox-color);
}

/* De achtergrond kleur in de nav */
header nav section {
	background-color: var(--headerAndBox-color);
}

/* styling van de linkjes in de nav */
header nav a {
	display: block;

	padding: 0em 0.8em;

	font-family: "generalFont";
	color: var(--generalFont-color);
	text-decoration: none;
}

/* styling van de h2 in de nav */
header nav section > h2 {
	font-size: 1.4em;
	color: var(--generalFont-color);
}

/* Alle lijst elementen hebben geen rondje ervoor */
li {
	list-style: none;
}

/* styling van de h1 (het efteling logo) en hem links uitlijnen */
h1 {
	margin: 0;
	padding: 0;
	margin-right: auto;
}
 /* Zorgen dat de elementen in de footer naast elkaar staan */
footer > section {
	display: flex;
	flex-wrap: wrap;

	padding: 1em;
}
/* De volgorde van de dingen in de eerste section van de footer */
footer > section img {
	order: 1;

	align-items: center;

	width: 1.3em;
	height: 1.3em;
	margin-right: .5em;
}

/* Zorgen dat de h2 na de img komt te staan */
footer > section h2 {
	order: 2;

	margin: 0;
	padding: 0;

	font-size: .8em;
	font-family: "generalFontBold";
	color: var(--generalFont-color);
}

/* styling voor de p in de footer en de volgorde kloppend maken */
footer > section p {
	order: 3;

	padding: 0;
	margin: 0;

	font-size: .8em;
	font-family: "generalFont";
	color: var(--generalFont-color);
}

/* De a als laatst in de footer zetten */
footer > section a {
	order: 4;

	margin-left: 1.7em;

	font-size: .8em;
	font-family: "generalFont";
	color: inherit;
}

/* de styling van de linkjes in de details */
nav details a {
	padding-left: .5em;

	font-family: "generalFont";
	color: inherit;
	text-decoration: none;
}

/* de ul een beetje van de rand af zetten */
details > ul {
	padding-left: 1em;
	margin: 0em;
}

/* de lijst elementen een padding boven en onder geven */
details ul > li {
	padding: .5em 0em;
}

/* Het font van de summary aanpassen */
summary a:first-of-type {
	font-family: "generalFontBold";
}

/* de kleur in de summary aanpassen wanneer je er overheen hovert */
summary a:first-of-type:hover {
	color: var(--buttonAndFont-color);
}

/* styling voor de details */
details:last-of-type {
	padding-left: .5em;

	font-family: "generalFont";
}

/* de laatste details een padding geven */
details:last-of-type > p {
	padding: 0em 1.3em;
}

/* het email veld veranderen van styling */
details:last-of-type input {
	display: inline-block;

	width: 93%;
	padding:1em;
	margin: 0em 1em;
}

/* button in details stylen */
details button {
	margin: 1em;
	padding: 0.5em 1em;

	background-color: var(--buttonAndFont-color);
	border: none;
	border-radius: 0.2em;

	outline: var(--outline-color);
	outline-width: 1px;
	outline-style: solid;
	outline-offset: -.3em;

	font-size:1.2em;
	font-family: "RobotaFontReg";
	color: var(--headerAndBox-color);
	text-decoration: none;
}

/* de p schuingedrukt maken */
details:last-of-type p:last-of-type {
	font-style: italic;
}

/* deze specifieke a een underline geven */
details:last-of-type p:last-of-type > a {
	padding-left: 0em;

	text-decoration: underline;
}

/* De summary naast elkaar zetten en een border geven 
en het pijltje van de summary weghalen*/
summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1em;

	border-bottom: solid 1px var(--border-color);

	font-family: "generalFontBold";
	list-style: none;	
}

/* het plusje bij de summary stylen  */
summary::after {
	content:"";

	display: grid;
	place-content: center;
	width: 2.5em;
	aspect-ratio: 1;

	background-image:
		linear-gradient(var(--generalFont-color) 0 0),
		linear-gradient(var(--generalFont-color) 0 0);
	background-size:
		1em .2em,
		.2em 1em;
	background-repeat:
		no-repeat;
	background-position:
		center;
	border-radius:50%;

	transition:.3s;
}

/* de lijstjes in de footer in het midden plaatsen */
footer nav section:first-of-type ul {
	display: flex;
	justify-content: center;

	padding: 0;
}

/*  de fotos in de lijstjes een specifieke hoogste geven */
footer nav section:first-of-type ul img {
	height: 3em;
}

/* de section in het midden zetten */
footer section:nth-of-type(2) {
	display: flex;
	justify-content: center;
}

/* wanneer je over deze link hovert gaat de underline weg */
footer section:first-of-type a:hover {
	text-decoration: none;
}

/* wanneer je over deze link hovert veranderd de achtergrond kleur */
main > section:nth-of-type(2) a:hover {
	background-color: var(--outline-color);
}

/* Wanneer je door de site tabt de kleur van de outline hetzelfde maken als 
de kleur van de tekst */
main > section:nth-of-type(2) a:active {
	outline: var(currentcolor);
}

/* achtergrond van de a verandert als je eroveheen hovert */
article section a:hover {
	background-color: var(--border-color);
}

/* Wanneer je door de site tabt de kleur van de outline hetzelfde maken als 
de kleur van de tekst */
article section a:active {
	outline: var(currentcolor);
}

/* achtergrond van de a verandert als je eroveheen hovert */
main > section:nth-of-type(3) a:hover {
	background-color: var(--outline-color);
}

































